@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  background-image: url("../images/background-kompresja.jpg");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'futura_ltregular';
  src: url("../fonts/futurapt/futuralt.woff2") format("woff2"), url("../fonts/futurapt/futuralt.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.menu-container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px; }

.logo {
  width: 230px;
  height: 75px; }

.menu {
  text-transform: uppercase;
  float: right;
  display: flex;
  margin-top: 33px;
  color: #9a8859;
  font-weight: bold; }
  .menu :hover:after {
    content: "";
    display: block;
    width: 37px;
    border-bottom: 2px solid rgba(75, 75, 75, 0.5);
    margin: 0 auto;
    padding-bottom: 5px; }

.menu-option {
  margin-left: 50px;
  font-size: 13px; }

.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%; }

#carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px; }

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px; }

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative; }

#slides li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif; }

/* Styling for prev and next buttons */
.btn-bar {
  max-width: 346px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
  width: 100%; }

#buttons {
  padding: 0 0 5px 0;
  float: right;
  display: none; }

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  float: left;
  outline: 0;
  margin: 0 60px;
  color: #b14943;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px; }

a#prev:hover, a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #b14943; }

.quote-phrase, .quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif; }

.quote-phrase {
  height: 200px;
  font-size: 24px;
  color: #FFF;
  font-style: italic;
  text-shadow: .5px 0px #b14943; }

.quote-marks {
  font-size: 30px;
  padding: 0 3px 3px;
  position: inherit; }

.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #b14943;
  font-weight: 400;
  height: 30px; }

.quoteContainer, .authorContainer {
  display: table;
  width: 100%; }

.register-button {
  position: relative;
  top: -80px;
  display: inline-block;
  width: 150px;
  height: 35px;
  background-color: #9a8859;
  border: 5px solid #9a8859;
  border-radius: 3px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
  margin-left: 310px; }

.button-text {
  display: flex;
  margin-top: 10px;
  margin-left: 16px;
  text-transform: uppercase;
  font-size: 13px;
  color: white; }

#slideshow {
  margin: 0 auto;
  position: relative;
  width: 960px;
  padding: 1% 1% 56.25% 1%;
  /*56.25 is for 16x9 resolution*/
  background: white;
  margin-top: 150px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75); }

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

#slideshow > div > img {
  position: absolute;
  top: -10px;
  width: 101.1%;
  height: 103.7%; }

#slideshow:hover i, #slideshow:hover .slider-dots {
  opacity: 1; }

.slidebtn {
  z-index: 99;
  background: transparent;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 10px 0 10px; }

.slidebtn:active,
.slidedtn:focus {
  outline: none; }

.slidebtn i {
  color: #FFF;
  font-size: 72px;
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.prev {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px; }

.next {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px; }

.slider-dots {
  opacity: 0.6;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, 0);
  z-index: 99;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.slider-dots li {
  color: #000;
  display: inline;
  font-size: 48px;
  margin-right: 5px;
  cursor: pointer; }

.slider-dots li.active-dot {
  color: #9a8859; }

.first-article-background {
  opacity: 0.4;
  filter: grayscale(100%); }

.first-article-first-render {
  background-image: url("../images/1articlerender1.png");
  background-size: cover;
  position: absolute;
  width: 400px;
  height: 530px;
  top: -2px;
  left: -122px; }

.first-article-second-render {
  background-image: url("../images/1articlerender2.png");
  background-size: cover;
  position: absolute;
  width: 400px;
  height: 530px;
  top: -2px;
  left: -40px; }

.first-article-third-render {
  background-image: url("../images/1articlerender3.png");
  background-size: cover;
  position: absolute;
  width: 400px;
  height: 550px;
  top: -22px;
  left: -40px; }

.first-article-fourth-render {
  background-image: url("../images/1articlerender4.png");
  background-size: cover;
  position: absolute;
  width: 400px;
  height: 620px;
  top: -92px;
  left: -70px; }

.first-article-header p {
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 260px;
  font-size: 30px;
  font-weight: bold;
  color: #9a8859; }

.first-article-text {
  width: 65%;
  height: 80%;
  margin-left: 300px;
  margin-top: 130px;
  font-size: 13px;
  font-weight: bold; }

.between-slider {
  margin-left: 30px;
  padding-left: 10px; }

.black-stripe-between-sliders {
  width: 100%;
  height: 250px;
  background-color: #26272b; }

.between-slider-header {
  text-transform: uppercase;
  color: #9a8859;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 38px; }

.slides-background {
  opacity: 0.3;
  transition: opacity 0.6s; }
  .slides-background:hover {
    opacity: 1; }

.image-background-slides {
  z-index: 0;
  background-color: white;
  height: 160px;
  width: 290px; }

.container-team {
  width: 73%;
  padding: 25px;
  margin-left: 210px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  background-image: url("../images/background.png") !important;
  background-size: 1250px 800px;
  background-repeat: no-repeat;
  border-radius: 3px; }

.image-wrap img {
  width: 150px;
  height: 150px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 4px solid #c69c6d !important; }

.image-wrap {
  text-align: center;
  margin-bottom: 20px; }

h1 {
  text-transform: uppercase;
  color: #c69c6d !important;
  font-weight: bold !important; }

h2 {
  font-size: 14.5px !important;
  line-height: 20px !important;
  margin-bottom: 30px !important; }

h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  color: #c69c6d !important;
  font-size: 16.5px !important;
  line-height: 0px !important; }

h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 13.5px !important;
  margin-bottom: 20px !important; }

p {
  line-height: 15px; }

/*# sourceMappingURL=main.css.map */
